
#imgC {
  alignment-adjust:central;
  background-color:#669999;
}


/**
 * Format section headers
*/

h2 > body {
  color:#A52A2A;
  background-color:#DCDCDC;
}

h3 {
  color:#006400;
}


/*
 * Provide side-by-side panels for slide "Exploring Data"
*/
.panelled {
  float:left;
  height:350px;
  width:40%;
}

#boxes {
  content:"";
  display:table;
  clear:both;
}


#box1 {
  background-color:#669999;
  width:60%;
  color:#FFFFFF;
}


/**
 * Remove gradient at slide bottom 
 * (https://stackoverflow.com/questions/35632032/configuring-ioslides-background-with-css)
*/
slides > .backdrop {
  background:white;
}